<!DOCTYPE html>
<html ng-app='angularStore'>

	<head>
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width,initial-scale=1'>
		<title> Angular Store </title>
		<link rel="stylesheet" href='assets/css/main.css'>
	</head>

	<body>
		<div class='container'>
			<header>
				<div class="well">
					<a href='#' class='logo'>
						<img src='assets/img/svg/logo.svg'>
					</a>
					<h1>Angular Store</h1>
				</div>
			</header>
			<div ng-view></div>
			
		</div>

		<script src='assets/js/angular.min.js'></script>
		<script src='assets/js/angular-route.min.js'></script>
		<script src='assets/js/jquery-1.11.1.min.js'></script>
		<script src='assets/js/bootstrap.min.js'></script>

		<script src='assets/js/app/store.js'></script>
		<script src='assets/js/app/product.js'></script>
		<script src='assets/js/app/cart.js'></script>
		<script src='assets/js/app/app.js'></script>
		<script src='assets/js/app/dataservice.js'></script>
		<script src='assets/js/app/controller.js'></script>

	</body>

</html>